@font-face {
  font-family: 'Great Vibes';
  src: url('/fonts/great-vibes.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.great-vibes-regular {
    font-family: "Great Vibes", cursive;
    font-weight: 600;
    font-style: normal;
}
